[Unit]
Description=devsquest websocket
After=syslog.target
After=network.target
After=devsquest.service
Requires=devsquest.service

[Service]
EnvironmentFile=/etc/devsquest/devsquest.env
User=devsquest
Group=devsquest
Restart=always

WorkingDirectory=/opt/devsquest

ExecStart=/bin/bash -l -c "${BUNDLE_BINARY} exec script/websocket-server.rb -b ${devsquest_BIND_IP} -p ${devsquest_WEBSOCKET_PORT} start"

[Install]
WantedBy=devsquest.service
