#!/usr/bin/env bash
#
# devsquest backup script config
#
# Learn more about the options below at
# https://docs.devsquest.org/en/latest/appendix/backup-and-restore/configuration.html

BACKUP_DIR='/var/tmp/devsquest_backup'
HOLD_DAYS='10'
FULL_FS_DUMP='yes'
DEBUG='no'
